<h1 class= "override"> This is where you create a new post </h1>
<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :post %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>